.main-container{
    font-family: Poppins;
}

.navDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2%;
    background-color: white;
}

.main-container-body{
    display: flex;
}

.main-container-menu{
    display: flex;
    flex-direction: column;
    padding: 4%;
    @media (min-width: 321px) and (max-width: 767px) {
        display: none;
    }
}

.main-container-menu-tab{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
    margin-bottom: 50%;
}

.main-container-menu-dashboard{
    display: flex;
    align-items: center;
}

.main-container-menu-button-dashboard{
    display: flex;
    align-items: center;
}
.main-container-menu-buttons{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    margin: 20% 0 20% 2%;
    color: #3C5955;

    &:hover {
        color:black;
    }
    @media (min-width: 321px) and (max-width: 767px) {
        font-size: 20px;
        padding: 2%;
    }
}

.MemoriesLogo{
    font-family: Lobster;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-decoration: none;
    line-height: 60px;
    color: #3C5955;
    margin-left: 1%;
}

.logOut{
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #3C5955;
    border: 1px solid #3C5955;
    padding: 0.4%;
    margin-right: 2%;
    border-radius: 5px;
    
    &:hover {
        color:white;
        background-color: #3C5955;
        border: 1px solid white;
    }
}

.dashboard-div{
    display: flex;
    flex-direction: column;
    width: 78%;
    @media (min-width: 768px) and (max-width: 1200px) {
        width: 70%;
    }
    @media (min-width: 321px) and (max-width: 767px) {
        width: 100%;
    }
}

.main-container-posts{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: 321px) and (max-width: 767px) {
        justify-content: center;
    }
}

.dashboard-title{
    margin: 2% 0 2% 0;
    font-size: 2rem;
    font-weight: bold;
}