.navDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2%;
    background-color: white;
}

.memoriesLogo{
    font-family: Lobster;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-decoration: none;
    line-height: 60px;
    color: #3C5955;
    margin-left: 1%;
}

.logOut{
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #3C5955;
    border: 1px solid #3C5955;
    padding: 0.4%;
    margin-right: 2%;
    border-radius: 5px;
    
    &:hover {
        color:white;
        background-color: #3C5955;
        border: 1px solid white;
    }
}

.main-container-post{
    margin-top: 1%;
    border-radius: 10px;
    width: 78%;
}

.post-cards{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}


.post-add-btn{
    margin-top: 2%;
    width: 15%;
    border-radius: 5px;
    border: 2px solid #3C5955;
    font-weight: bold;
    padding: 0.5%;
    cursor: pointer;
    &:hover {
        color:white;
        background-color: #3C5955;
    }
}